# Python cache
__pycache__/
*.py[cod]
*$py.class

# Project folders
dataset/
expose-3.8/
OUTPUT_FOLDER/
processed_videos/
processed_test_videos/
test_data/
test_dataset/
data/models/smplx/
data/network_weights/


# OS
.DS_Store
*.swp
*.swo
*~


